.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: #b9d4c7;
}

.body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.row [class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.firstline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-container,
.title-description-container,
.chart-container {
   
    margin-right: 10px; 
}

.chart-container {
    margin-right: 0; 
    width: 35%; 
    display: flex;
    justify-content: right;
}

.card-content {
    display: flex;
    flex-direction: row; 
    justify-content:left; 
    width: 100%; 
}

.avatar-container {
    width: 20%; 
    display: flex;
    justify-content: left;
    align-items: center;
}

.title-description-container {
    width: 45%;
    align-items: left;
    display: flex;
}

