.row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  margin-top: 1em;
}

.card {
  border-radius: 10px;
}

.body {
  flex: 1;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

@media (min-width: 400px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}
