.navcontainer {
    display: flex;
    height: auto;
    justify-content: space-between;
    background-color: #cc0000;
    align-items: center;
    
}

.logo {
    margin-left: 5%;
}

.login {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login button {
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 10px;
    font-size: medium;
    border: none;
    cursor: pointer;
    margin: 5px;
    
}

.link {
    text-decoration: none;
    color: white;
}